<app-header></app-header>

<div class="wrapper">
  <app-page-title class="title" [title]="'Популярное'"></app-page-title>

  <app-slider-post-full></app-slider-post-full>

  <app-page-title class="title" [title]="'Истории'"></app-page-title>

  <div class="container-post">
    <app-post-ar class="post"></app-post-ar>
    <app-post-ar class="post"></app-post-ar>
    <app-post-ar class="post"></app-post-ar>
    <app-post-ar class="post"></app-post-ar>
    <app-post-ar class="post"></app-post-ar>
  </div>
</div>

<app-footer style="position: relative"></app-footer>
