<app-header></app-header>

<div class="wrapper">
  <div class="loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <app-page-title *ngIf="!isLoadingResults" [title]="'Мои посты'"></app-page-title>


  <div *ngIf="!isLoadingResults" class="post-container">
    <ng-container *ngFor="let post of postList | async">
      <app-my-post class="post"
                   [post]="post"
                   [deleteCallback]="refresh"
      ></app-my-post>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>
