.wrapper {
  max-width: 1220px;
  margin: 60px auto 120px;

  .post-container {
    display: flex;
    flex-wrap: wrap;

    .post {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .post:nth-child(4n+4) {
      margin-right: 0;
    }

    .post:first-child {
      margin-left: 0;
    }

    .post:last-child {
      margin-right: 0;
    }
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  //background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
