<app-header></app-header>

<div class="wrapper">
  <app-page-title [title]="'Мои посты'"></app-page-title>

  <div class="post-container">
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
    <app-my-post class="post"></app-my-post>
  </div>
</div>

<app-footer></app-footer>
