<mat-nav-list class="container">
  <ng-container *ngFor="let comment of comments">
    <div class="comment">
      <div class="section" style="margin-right: 12px">
        <img *ngIf="comment.authorAvatarImageId" (click)="openProfileUser()" class="avatar" mat-card-avatar src="{{apiUrlDatastore}}/content/{{comment.authorAvatarImageId}}" alt="">
        <img *ngIf="!comment.authorAvatarImageId" mat-card-avatar class="avatar" src="https://ui-avatars.com/api/?color=FFFFFF&background=random&name=John">
      </div>
      <div class="section">
        <div class="top">
          <label class="title">Edward Clark</label>
          <span class="date">20/02/2022</span>
        </div>

        <div class="comment-description">
<!--          {{comment.text}}-->
          ddsfds dsf dsf dsf dsfsd fsdfdsf
          dsfds fdsf sd fsdf dsf
        </div>
      </div>
    </div>
  </ng-container>

  <mat-divider ></mat-divider>

  <form class="comment" [formGroup]="form"  style="display: flex; align-items: center">
    <div class="section" style="margin-right: 12px">
      <img (click)="openMyProfile()" class="icon" mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
    <div class="section">
      <div class="form-field-with-label" style="padding: 10px 10px">
        <textarea formControlName="comment" rows="1" class="input-field" placeholder="Добавьте комментарий"></textarea>
        <span class="button" (click)="addComment()">Опубликовать</span>
      </div>
    </div>
  </form>

</mat-nav-list>
