<mat-nav-list class="container">
  <div class="comment">
    <div class="section" style="margin-right: 12px">
      <img class="icon" mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
    <div class="section">
      <div class="top">
        <label class="title">Title</label>
        <span class="date">20/02/2022</span>
      </div>

      <div class="comment-description">
        is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="section" style="margin-right: 12px">
      <img class="icon" mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
    <div class="section">
      <div class="top">
        <label class="title">Title</label>
        <span class="date">20/02/2022</span>
      </div>

      <div class="comment-description">
        is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="section" style="margin-right: 12px">
      <img class="icon" mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
    <div class="section">
      <div class="top">
        <label class="title">Title</label>
        <span class="date">20/02/2022</span>
      </div>

      <div class="comment-description">
        is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </div>
    </div>
  </div>

  <mat-divider ></mat-divider>

  <div class="comment" style="display: flex; align-items: center">
    <div class="section" style="margin-right: 12px">
      <img class="icon" mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
    <div class="section">
      <div class="form-field-with-label">
        <textarea rows="1" class="input-field" placeholder="Добавьте комментарий"></textarea>
        <span class="button">Опубликовать</span>
      </div>
    </div>
  </div>

</mat-nav-list>
