<mat-nav-list class="container">
  <ng-container *ngFor="let comment of comments">
    <div class="comment">
      <div class="section" *ngIf="isMobile" style="margin-right: 12px">
        <img *ngIf="comment.authorAvatarImageId" (click)="openProfileUser(comment.userId)" class="avatar" mat-card-avatar src="{{apiUrlDatastore}}/content/{{comment.authorAvatarImageId}}" alt="">
        <img *ngIf="!comment.authorAvatarImageId" (click)="openProfileUser(comment.userId)" mat-card-avatar class="avatar" src="https://ui-avatars.com/api/?color=FFFFFF&background=random&name={{comment.userName}}">
      </div>

      <div class="section" *ngIf="!isMobile" style="margin-right: 12px">
        <img *ngIf="comment.authorAvatarImageId" (click)="openProfileUser(comment.userId)" class="avatar" mat-card-avatar src="{{apiUrlDatastore}}/content/{{comment.authorAvatarImageId}}" alt="">
        <img *ngIf="!comment.authorAvatarImageId" (click)="openProfileUser(comment.userId)" mat-card-avatar class="avatar" src="https://ui-avatars.com/api/?color=FFFFFF&background=random&name={{comment.userName}}">
      </div>
      <div class="section" style="width: 100%">
        <div class="top">
          <label class="title">{{comment.userName}}</label>
          <span class="date">{{comment.timestamp | date: 'hh:mm'}}</span>
        </div>

        <div class="comment-description">
          {{comment.text}}
        </div>
      </div>
    </div>

  </ng-container>

  <mat-divider ></mat-divider>

  <form class="comment" [formGroup]="form"  style="display: flex; align-items: center">
    <div class="section" style="margin-right: 12px">
<!--      <img (click)="openMyProfile()" class="icon" mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">-->
      <img mat-card-avatar (click)="openMyProfile()" class="icon" src="https://ui-avatars.com/api/?color=FFFFFF&background=random&name={{myName}}">
    </div>
    <div class="section">
      <div class="form-field-with-label" style="padding: 10px 10px">
        <textarea formControlName="comment" rows="1" class="input-field" placeholder="Добавьте комментарий"></textarea>
        <span class="button" (click)="addComment()">Опубликовать</span>
      </div>
    </div>
  </form>

</mat-nav-list>
