/* You can add global styles to this file, and also import other style files */

body,
html {
  /*margin: 0 auto;*/
  /*padding: 0;*/
  height: 100%;
  width: 100%;
  min-height: 100%;
  /*position: fixed;*/
  /*overflow: hidden;*/
  background-color: #131419;
  /*overflow-y: auto;*/

  font-family: 'NetflixSansRegular', serif;
}

body {
  display: flex;
  min-height:100vh;
  flex-direction: column;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/*body::-webkit-scrollbar {*/
/*  width: 12px;               !* width of the entire scrollbar *!*/
/*}*/

/*body::-webkit-scrollbar-track {*/
/*  background: #131419;        !* color of the tracking area *!*/
/*}*/

/*body::-webkit-scrollbar-thumb {*/
/*  background-color: #262631;    !* color of the scroll thumb *!*/
/*  border-radius: 15px; !* roundness of the scroll thumb *!*/
/*  border: 3px solid #5e5e5e;  !* creates padding around scroll thumb *!*/
/*}*/

@font-face {
  font-family: "NetflixSansRegular";
  src: url("assets/fonts/netflix-sans/NetflixSansRegular.ttf");
}


body { margin: 0; font-family: "NetflixSansRegular", "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {*/
/*  background: #FF0000;*/
/*}*/
