<div class="form-container">
  <iframe style="display:none"  id="frame" width="0" height="0" [src]="safeSrc | async"></iframe>
  <div class="left">
    <form class="form" [formGroup]="form">

      <h1 style="color: #FFFFFF">Новый пост</h1>
      <div class="form-field-with-label title-field">
        <label class="label">Название</label>
        <mat-form-field>
          <input matInput formControlName="title" type="text" name="food" ngModel required>
        </mat-form-field>
      </div>

      <div class="form-field-with-label">
        <label class="label"></label>
        <div (click)="uploadPreviewFile.click()">
          <button mat-stroked-button class="upload-button"><mat-icon class="icon">preview</mat-icon>Загрузить preview</button>
          <input #uploadPreviewFile type='file' (change)="uploadPreview($event)" style="display:none"/>
        </div>
      </div>
      <div class="form-field-with-label">
        <label class="label"></label>
        <div (click)="uploadMarkerFile.click()">
          <button mat-stroked-button class="upload-button"><mat-icon class="icon">push_pin</mat-icon>Загрузить marker</button>
          <input #uploadMarkerFile (change)="uploadMarker($event)" type='file' style="display:none"/>
        </div>
      </div>
      <div class="form-field-with-label">
        <label class="label"></label>
        <div (click)="uploadModelFile.click()">
          <button mat-stroked-button class="upload-button"><mat-icon class="icon">view_in_ar</mat-icon>Загрузить 3D model</button>
          <input #uploadModelFile type='file' (change)="uploadModel($event)" style="display:none"/>
        </div>
      </div>
    </form>

    <button mat-stroked-button class="button" (click)="onSubmit()">Сохранить</button>
  </div>


  <div class="right">
    <img src="assets/image/manual.png">
  </div>
</div>
