<div class="form-container">
  <iframe style="display:none"  id="frame" width="0" height="0" [src]="safeSrc | async"></iframe>
  <div class="left">
    <form class="form" [formGroup]="form">

      <h1 style="color: #FFFFFF">Новый пост</h1>
      <div class="form-field-with-label title-field">
        <label class="label">Название</label>
        <mat-form-field>
          <input matInput formControlName="title" type="text" name="food" ngModel required>
        </mat-form-field>
      </div>

      <div class="form-field-with-label">
        <label class="label"></label>
        <div class="file-downloader" (click)="uploadPreviewFile.click()">
          <button mat-stroked-button class="upload-button"><mat-icon class="icon">preview</mat-icon>Загрузить превью</button>
          <input #uploadPreviewFile type='file' (change)="uploadPreview($event)" style="display:none"/>

          <span class="done" *ngIf="getPreview()">
            <button mat-mini-fab class="complete">
              <mat-icon>done</mat-icon>
            </button>
          </span>
        </div>
        <mat-error class="error" *ngIf="getPreviewFieldValid()">{{getErrorMessage()}}</mat-error>
      </div>
      <div class="form-field-with-label" style="width: 310px; ">
        <label class="label"></label>
        <div class="file-downloader" style="height: 46px " (click)="uploadMarkerFile.click()">
          <button mat-stroked-button class="upload-button"><mat-icon class="icon">push_pin</mat-icon>Загрузить маркер</button>
          <input #uploadMarkerFile (change)="uploadMarker($event)" type='file' style="display:none"/>

          <mat-spinner style="transform: scale(0.3) !important;" *ngIf="loaded"></mat-spinner>

          <span *ngIf="getMarker()" class="done">
            <button mat-mini-fab class="complete">
              <mat-icon>done</mat-icon>
            </button>
          </span>
        </div>
        <mat-error class="error" *ngIf="getMarkerFieldValid()">{{getErrorMessage()}}</mat-error>
      </div>
      <div class="form-field-with-label">
        <label class="label"></label>
        <div class="file-downloader" style="height: 46px !important;" (click)="uploadModelFile.click()">
          <button mat-stroked-button class="upload-button">
            <mat-icon class="icon">view_in_ar</mat-icon>
            Загрузить модель
          </button>
          <input #uploadModelFile type='file' (change)="uploadModel($event)" style="display:none"/>

          <span class="done" *ngIf="getModel()">
            <button mat-mini-fab class="complete">
              <mat-icon>done</mat-icon>
            </button>
          </span>
        </div>
        <mat-error class="error" *ngIf="getModelFieldValid()">{{getErrorMessage()}}</mat-error>
        <mat-error class="error" *ngIf="getModelFormatValid()">Файл должен иметь расширение glb</mat-error>
      </div>

      <div class="form-field-with-label" >
        <label class="label"></label>
        <div class="file-downloader">
          <button mat-stroked-button
                  [ngStyle]="{ 'opacity': form.valid ? '1' : '0.4' }"
                  [disabled]="!form.valid"
                  (click)="openMapModal()"
                  class="upload-button">
            <mat-icon class="icon">add_location_alt</mat-icon>
            Геопозиция
          </button>
        </div>
      </div>
    </form>

    <button style="color: white;" [ngStyle]="{ 'opacity': form.valid ? '1' : '0.4' }" mat-stroked-button class="button" [disabled]="!form.valid" (click)="onSubmit()">Далее</button>
  </div>


  <div class="right">
    <img (click)="alarm()" src="assets/image/manual.png">
  </div>
</div>
