.post {
  color: #FFFFFF;
  max-width: 348px;
  background: #1c1c24;
  border-radius: 20px;
  font-family: "Aleo Regular", serif;
  margin-bottom: 16px;

  &-img {
    min-height: 144px;
    max-height: 144px;
    margin-bottom: 24px;
  }

  &-header {
    .avatar {
      width: 40px;
      height: 40px;
    }

    .title {
      font-family: "Aleo Regular", serif;
    }

    .date {
      color: #A6ADB1;
      font-size: 12px;
      opacity: 0.6;
      font-family: "Aleo Regular", serif;
    }
  }

  &-actions {
    .action {
      background: #5458f7;
    }

    .label {
      font-size: 12px;
    }
  }
}

.post-content {
  margin-bottom: 18px;

  .description {
    font-size: 16px;
  }
}

.post-actions {
  display: flex;
  justify-content: space-between;
  padding: 0;

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
  }

  .button-with-label {
    .action {
      margin-right: 8px;
    }

    margin-right: 24px;
  }

  .action {
    background-color: #333339;
    //background-color: #5458F7;
  }


  .icon {
    color: #FFFFFF;
  }
}

.mat-card .mat-divider-horizontal {
  position: relative;
}

.mat-card>.mat-card-actions:last-child {
  margin: 16px 0 0 0;
}

mat-divider {
  color: #FFFFFF;
  opacity: 20%;
}

::ng-deep .mat-menu-panel  {
  border:1px solid #2D2D3A;
  background: #1C1C24;
}

::ng-deep .mat-menu-item {color: #FFFFFF;}
::ng-deep .mat-menu-item .mat-icon-no-color {color: #FFFFFF;}

.social {
  width: 206px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 3px;
  background-color: #4169e1;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 8px;

  .icon {
    display: flex;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
