<swiper
  [pagination]="true"

>
  <ng-template swiperSlide> <app-popular-post></app-popular-post></ng-template>
  <ng-template swiperSlide> <app-popular-post></app-popular-post></ng-template>
  <ng-template swiperSlide> <app-popular-post></app-popular-post></ng-template>
  <ng-template swiperSlide> <app-popular-post></app-popular-post></ng-template>
  <ng-template swiperSlide> <app-popular-post></app-popular-post></ng-template>
  <ng-template swiperSlide> <app-popular-post></app-popular-post></ng-template>
</swiper>
