<header class="wrapper">
  <mat-toolbar class="header">
    <div class="header-left">
      <div class="button-with-label">
        <button mat-icon-button class="button">
          <mat-icon class="icon">flip_camera_ios</mat-icon>
        </button>
        <label class="label">ARHub</label>
      </div>
    </div>

    <div class="header-middle">
      <div class="button-with-label">
        <button routerLink="/news" mat-mini-fab class="action">
          <mat-icon class="icon">collections</mat-icon>
        </button>
        <label>Галерея</label>
      </div>

      <div class="button-with-label">
        <button routerLink="/news" mat-mini-fab class="action">
          <mat-icon class="icon">public</mat-icon>
        </button>
        <label>Новости</label>
      </div>

      <div class="button-with-label">
        <button mat-mini-fab class="action">
          <mat-icon class="icon">camera_alt</mat-icon>
        </button>
        <label>Камера</label>
      </div>

      <div class="button-with-label">
        <button mat-mini-fab class="action">
          <mat-icon class="icon">menu</mat-icon>
        </button>
        <label>Меню</label>
      </div>
    </div>

    <div class="header-right">
      <img class="icon" mat-card-avatar src="assets/image/Img.png" alt="">
      <mat-icon class="label">expand_less</mat-icon>
    </div>

  </mat-toolbar>
</header>
