<header class="wrapper">
  <mat-toolbar class="header">
    <div class="header-left">
      <div class="button-with-label">
        <button mat-icon-button class="button">
          <mat-icon class="icon">flip_camera_ios</mat-icon>
        </button>
        <label class="label">ARHub</label>
      </div>
    </div>

    <div class="header-middle">
      <div routerLink="/news" class="button-with-label">
        <button mat-mini-fab class="action">
          <mat-icon class="icon">collections</mat-icon>
        </button>
        <label>Лента</label>
      </div>

      <div class="button-with-label">
        <button mat-mini-fab class="action">
          <mat-icon class="icon">camera_alt</mat-icon>
        </button>
        <label>Камера</label>
      </div>

      <div *ngIf="isMapVisible" routerLink="/map" class="button-with-label">
        <button mat-mini-fab class="action">
          <mat-icon class="icon">pin_drop</mat-icon>
        </button>
        <label>Рядом</label>
      </div>

      <div routerLink="/my-posts" class="button-with-label">
        <button mat-mini-fab class="action">
          <mat-icon class="icon">folder_open</mat-icon>
        </button>
        <label>Мои проекты</label>
      </div>
    </div>

    <div class="header-right">
      <div class="add-post" (click)="createPost()">
        <button class="button" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>

        <label class="label">Опубликовать</label>
      </div>

      <img class="icon" mat-card-avatar src="assets/image/Img.png" alt="">
<!--      <mat-icon class="label">expand_less</mat-icon>-->

      <mat-icon  [matMenuTriggerFor]="menu" class="label">expand_more</mat-icon>

      <mat-menu #menu="matMenu">
        <button style="color: white" mat-menu-item>
          <div class="social">
            <img class="icon" src="assets/image/vk.png" alt="">
            <span>ВКонтакте</span>
          </div>
        </button>
        <button style="color: white" mat-menu-item>
          <div class="social" style="background: #f2253c">
            <img class="icon" src="assets/image/instagram.png" alt="">
            <span>Instagram</span>
          </div>
        </button>
      </mat-menu>
    </div>

  </mat-toolbar>
</header>
