<mat-card class="post">
  <div class="wrapper">
    <mat-card-content>
      <div class="image-container">
        <img mat-card-image class="image" src="{{apiUrlDatastore}}/content/{{post.previewImageId}}" alt="">
      </div>
    </mat-card-content>
    <mat-card-actions class="description">
      <div class="text">
        <p class="title">{{post.title}}</p>
        <p class="subtitle">{{post.createdTime | date}}</p>
      </div>

      <div class="actions">
          <div class="button-with-label">
            <button mat-mini-fab class="action">
              <mat-icon class="icon">thumb_up_off_alt</mat-icon>
            </button>
            <label class="label">{{post.likeCount}}</label>
          </div>
          <div (click)="openComments(post.id)" class="button-with-label">
            <button mat-mini-fab class="action">
              <mat-icon class="icon">chat_bubble_outline</mat-icon>
            </button>
            <label class="label">{{post.commentCount}}</label>
          </div>
        <button mat-mini-fab class="action" [matMenuTriggerFor]="menu">
          <mat-icon class="icon">share</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button style="color: white" mat-menu-item>
            <a [href]="VK_URL" target="_blank" class="social">
              <img class="icon" src="assets/image/vk.png" alt="">
              <span>ВКонтакте</span>
            </a>
          </button>
          <button style="color: white" mat-menu-item>
            <div class="social" style="background: #f2253c">
              <img class="icon" src="assets/image/instagram.png" alt="">
              <span>Instagram</span>
            </div>
          </button>
        </mat-menu>
      </div>
    </mat-card-actions>
  </div>
</mat-card>

