<footer>
  <mat-toolbar class="footer">
    <div class="button-with-label">
      <button mat-mini-fab class="action">
        <mat-icon class="icon">collections</mat-icon>
      </button>
      <label>Галерея</label>
    </div>

    <div class="button-with-label">
      <button mat-mini-fab class="action">
        <mat-icon class="icon">public</mat-icon>
      </button>
      <label>Новости</label>
    </div>

    <div class="button-with-label">
      <button mat-mini-fab class="action">
        <mat-icon class="icon">camera_alt</mat-icon>
      </button>
      <label>Камера</label>
    </div>

    <div class="button-with-label">
      <button mat-mini-fab class="action">
        <mat-icon class="icon">menu</mat-icon>
      </button>
      <label>Меню</label>
    </div>
  </mat-toolbar>
</footer>



