<footer>
  <mat-toolbar class="footer">
    <div routerLink="/news" class="button-with-label">
      <button mat-mini-fab class="action">
        <mat-icon class="icon">wallpaper</mat-icon>
      </button>
      <label>Лента</label>
    </div>

<!--    <div class="button-with-label">-->
<!--      <button mat-mini-fab class="action">-->
<!--        <mat-icon class="icon">camera_alt</mat-icon>-->
<!--      </button>-->
<!--      <label>Камера</label>-->
<!--    </div>-->

    <div  routerLink="/map" class="button-with-label">
      <button mat-mini-fab class="action">
        <mat-icon class="icon">pin_drop</mat-icon>
      </button>
      <label>Рядом</label>
    </div>

    <div routerLink="/my-post-mobile" class="button-with-label">
      <button mat-mini-fab class="action">
        <mat-icon class="icon">folder_open</mat-icon>
      </button>
      <label>Публикации</label>
    </div>
  </mat-toolbar>
</footer>



