<footer class="wrapper">
  <mat-toolbar class="footer">
    <div class="footer-left">
      <div class="button-with-label">
<!--        <button mat-icon-button class="button">-->
<!--          <mat-icon class="icon">flip_camera_ios</mat-icon>-->
<!--        </button>-->
      </div>
    </div>

    <div class="footer-middle">
      <span>© 2022 - All Rights Lecensed</span>
    </div>

    <div class="footer-right">
<!--      <img class="icon" mat-card-avatar src="assets/image/Img.png" alt="">-->

<!--      <mat-icon class="label">expand_less</mat-icon>-->

    </div>

  </mat-toolbar>
</footer>
