<header>
  <mat-toolbar class="header">
    <div class="header-left">
      <div class="button-with-label">
        <button mat-icon-button class="button">
          <mat-icon class="icon">flip_camera_ios</mat-icon>
        </button>
        <label class="label">ARHub</label>
      </div>
    </div>

    <div class="header-right">
      <img class="icon" mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

      <mat-icon class="label">expand_more</mat-icon>

    </div>

  </mat-toolbar>
</header>



