.header {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #262631;
  background-color: #1c1c24;

  &-left {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .button-with-label {
      display: flex;
      align-items: center;

      .button {
        background-color: #4447E2;
        margin-right: 10px;
        color: #FFFFFF;
      }

      .label {
        font-size: 18px;
        color: #FFFFFF;
        line-height: 20px;
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .icon {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      object-fit: cover;
      margin-right: 10px;
      cursor: pointer;
    }

    .label {
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}

.span {
  padding: 0;
}


.example-sidenav {
  margin-top: 57px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #131419;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
