model-viewer {
  --poster-color: #1c1c24;
  background-color: #1C1C24;
  width: 300px;
  height: 450px;
}

.actions {
  padding: 6px;
  display: flex;
  justify-content: space-between;

  .editor {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    color: #4447E2;
  }
}

.container {

}

::ng-deep .mat-dialog-container {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  border-radius: 15px;
  background-color: #1C1C24;
  //margin-top: -50px;
  //margin-left: -50px;
  width: fit-content;
  height: 500px;
}
